<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<select id="selectPlazaBoardList" resultType="com.br.dto.PlazaBoardDto">
		<![CDATA[
			SELECT  board_idx AS boardIdx,
			        title AS title,
			        content AS content,
			        writer_id AS writerId,
			        CASE WHEN (sysdate - write_date) <= 30 
			                THEN 1
			                ELSE 0
			        END AS newMark,
			        likes AS likes,
			        writer_name AS writerName,
			        CASE WHEN show_name = 'T' 
			                THEN 1
			                ELSE 0
			        END AS showName
			FROM    plaza
			ORDER BY boardIdx DESC
		]]>
	</select>
	


	
 	<select id="getAllRecipe" resultType="com.br.dto.RecipeDto">
		<![CDATA[
			SELECT r.recipe_idx AS recipeIdx
			, r.category_idx AS categoryIdx
			, rc.category_name AS categoryName
			, r.img_url AS imgUrl
			, r.title_kor AS titleKor
			, r.title_eng AS titleEng
			FROM recipe r
			LEFT JOIN recipe_category rc ON r.category_idx = rc.category_idx
		]]>
	</select> 
	
	<!-- 이벤트 보여주기 -->
	<select id="selectEvent" resultType="com.br.dto.SelectEventDto">
		<![CDATA[
			SELECT t2.*
			FROM (SELECT rownum rnum, t1.*
			        FROM    (SELECT img,
			                        top_letter AS topLetter,
			                        title,
			                        period
			                FROM event
			                ORDER BY event_idx ASC) t1) t2
			WHERE rnum>=#{startNum} AND rnum<=#{endNum}
		]]>
	</select>
	
	<!-- 이벤트 페이지네이션 -->
	<select id="selectLastPageNumber" resultType="Integer" >
		<![CDATA[
			SELECT COUNT(*) FROM event
		]]>
	</select>
</mapper>