<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<select id="IdDuplicationCheck" resultType="String">
		<![CDATA[
			SELECT id
			FROM member
			WHERE id = #{loginId}
		]]>
	</select>
	
	<insert id="insertMember"  parameterType="HashMap">
		<![CDATA[
			INSERT INTO member (id, pw, name, admin)
			VALUES (#{email}, null, #{nickname},'F')
		]]>
	</insert>
	
	<select id="loginCheck" resultType="Boolean">
		<![CDATA[
			SELECT  count(*)
			FROM    member
			WHERE   id = #{loginId}
			        AND
			        pw = #{loginPw}
		]]>
	</select> 
	
	
</mapper>