<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
	<select id="getAllStore" resultType="com.br.dto.StoreDto">
		<![CDATA[
			SELECT store_idx AS storeIdx
				, store_name AS storeName
	            , latitude
	            , longitude
				, address
				, phone
				, business_hours AS businessHours
				, service
			FROM store
		]]>

	</select> 

 	<select id="getFilteredStore" resultType="com.br.dto.StoreDto">
		<![CDATA[
			SELECT store_idx AS storeIdx
				, store_name AS storeName
				, address
				, phone
				, business_hours AS businessHours
			FROM store
			WHERE 1=1			
		]]>
		<if test="storeTypeBrChecked and !storeTypeFlavorChecked">
			AND type_br = 'T'
		</if>
		<if test="!storeTypeBrChecked and storeTypeFlavorChecked">
			AND type_br = 'F'
		</if>
		<if test="parkingChecked">
			AND parking = 'T'
		</if>
		<if test="deliveryChecked">
			AND delivery = 'T'
		</if>
		<if test="pickupChecked">
			AND pickup = 'T'
		</if>
		<if test="hereChecked">
			AND here = 'T'
		</if>
		<if test="happyStationChecked">
			AND happy_station = 'T'
		</if>
		<if test="blindBoxChecked">
			AND blind_box = 'T'
		</if>
		<if test="sel1Selected != null and sel1Selected != ''">
			 AND address LIKE #{sel1Selected} || '%'
		</if>
		<if test="sel2Selected != null and sel2Selected !=''">
			AND address LIKE '%' || #{sel2Selected} || '%'
		</if>
		<if test="storeSearched != null and storeSearched !=''">
			AND store_name LIKE '%' || #{storeSearched} || '%'
		</if>
		<if test="(sel1Selected == null and sel1Selected == '' )and (sel2Selected == null and sel2Selected == '') and (storeSearched != null and storeSearched !='')">
			AND store_name LIKE '%' || #{storeSearched} || '%'
		</if>
	</select> 
	
	<select id="selectStores" resultType="com.br.dto.SelectStoreDto">
		<![CDATA[
			SELECT  store_idx storeIdx,
			        store_name storeName,
			        address,
			        phone,
			        business_hours businessHours,
			        service,
			        latitude,
			        longitude,
			        type_br typeBr,
			        parking,
			        delivery,
			        pickup,
			        here,
			        happy_station happyStation,
			        blind_box blindBox
			FROM store
			ORDER BY store_idx ASC	
		]]>
	</select>
	
	<!--  찬균  -->
	<select id="selectAllDrinks" resultType="com.br.dto.DrinkListDto">
	<![CDATA[ 
		SELECT  dd.name,
		        dd.price,
		        d.img,
		        dd.drinks_detail_idx AS idx
		FROM drinks d
		INNER JOIN drinks_detail dd ON d.drinks_idx = dd.drinks_idx
		]]>
	</select>
	
	<select id="getAllIcecream" resultType="com.br.dto.IcecreamDto">
	<![CDATA[ 
		SELECT 	icecream_idx AS icecreamIdx , 
				name_kor AS nameKor , 
				name_eng AS nameEng , 
				img_url AS imgUrl , 
				detail_img AS detailImg , 
				info , hashtag , 
				background_color AS backgroundColor , 
				text_color AS textColor 
		FROM icecream
		ORDER BY order_num ASC 
		]]>
	</select>
	
	<select id="selectAllCakes" resultType="com.br.dto.IceCreamCakeListDto">
	<![CDATA[ 
		SELECT  c.name,
		        cd.price,
		        c.img,
		        c.cake_idx AS idx
		FROM ice_cream_cake c
		INNER JOIN ice_cream_cake_detail cd ON c.name = cd.kor_name
	 ]]>
	</select>
</mapper>