@charset "UTF-8";
body {
    margin: 0 auto;
    overflow-y: scroll;
}
.fl {float : left}
.fr {float : right}
.border {boarder : 1px solid red}
a {text-decoration : none}



/*이동 탭*/
#menu_location {
	cursor : pointer;
	color: #f986bd;
	margin-top: 200px;
    text-align: center;
}
#menu_location > a {
	text-decoration: none;
	color: #f986bd;
	margin-right :10px;
	border-right : 1px solid #f986bd;
	padding-right: 10px;
}
#menu_location > a:last-child {
	border : 0;
}

/*상단 설명*/
#iceCreamCake {
	text-align : center;
	margin-top: 30px;
}
#iceCreamCake > div:nth-child(1) {
    color: #f986bd;
    font-weight: 700;
    font-size: 90px;
    letter-spacing: -.025em;
}
#iceCreamCake > div:nth-child(2){
	margin-top: 20px;
}
#iceCreamCake > div:nth-child(2),
#iceCreamCake > div:nth-child(3) {
    padding: 0 25px;
    color: #f986bd;
    font-weight: var(--font-weight-sd-bold);
    font-size: 20px;
    line-height: 1.5;
}

/*상품*/
#product {
	width : 1550px;
	height : auto;
	margin: 0 auto;
}
.iceCreamCakeProduct {
    margin: 17px 25px;
    width : 260px;
    height : 250px;
    text-align: center;
}
.cakeImg {
	display: block;
    overflow: hidden;
    position: relative;
    width: 260px;
    height: 210px;
    border: 1px solid #f3eee4;
    border-radius: 45px;
    box-sizing: border-box;
}
.tag {
	text-align: center;
    width: 127px;
    margin: 20px 0 0 70px;
    display: none;
    font-weight: var(--font-weight-sd-bold);
    font-size: 17px;
}
.cakeImg > img {
	position : relative;
	width : 206px;
}
.iceCreamCakeProduct > div:nth-child(2) {
    margin-top: 20px;
    padding: 0 20px;
    color: #999;
    font-weight: var(--font-weight-sd-bold);
    font-size: 17px;
    text-align: center;
}
.backgroundColor {
	display : hidden;
}
