@charset "UTF-8";
.fl {float : left}
.fr {float : right}
.font {color: #f986bd; font-size: 40px; text-align: center;}
a {text-decoration : none}

#store_info {
   margin-top: 200px;
   display: block;
   text-align: center;
   color: #f986bd;
   font-weight: 700;
   font-size: 90px;
   letter-spacing: -.025em;
   line-height: 1;
}
#store_info > div:nth-child(2) {
	color : black;
	font-size: 39px;
    margin-top: 50px;
}

/*여기서부터*/
.product_list {
 	width: 1600px;
    margin: 0 auto;
    margin-top : 100px;
}
.list {
	width: 200px;
    height: 200px;
    margin: 14px;
    text-align: center;
}
.list > img {
	width: 100px;
}
.list > div {
	padding: 10px;
}
.list > div:nth-child(2) {
	width: 200px;
    overflow: hidden;
}
.list > button {
	background-color : white;
	border : 1px solid #f986bd;
	border-radius: 20px;
	margin-top: 10px;
}
.list > button:nth-child(4) {
	margin-left: 65px;
}
.list > input {
	width: 30px;
	margin-top: 10px;
}

#order {
	width: 50px;
    margin: 0 auto;
    display: flex;
    background-color: white;
    border-radius: 10px;
    border : 1px solid #f986bd;
}

#total{
	width : 770px;
	margin : 0 auto;
	margin-bottom : 20px;
	margin-top : 100px;
	clear: both;
}
#total > input {
	border: 1px solid #ccc; 
}
#addedItems {
	border: 1px solid #ccc; 
	padding: 5px; 
	max-height: 100px; 
	overflow-y: auto;
}
/* 장바구니 */
#shopping_bag {
    width: 212px;
    height: 75px;
    background-color: aliceblue;
    border: 3px solid #f986bd;
    border-radius: 10px;
    position: fixed;
    top: 400px;
    z-index: 500;
    right: 6px;
}

/*tab*/
#productTab {
	cursor: pointer;
    color: #f986bd;
    text-align: center;
    display: grid;
    margin: 30px 0;
}
#productTab > div {
	text-decoration: none;
	color: #f986bd;
	margin-right :10px;
	border-right : 1px solid #f986bd;
	padding-right: 10px;
}
#productTab > div:last-child {
	border : 0;
	border-right : 0px;
}