@charset "UTF-8";
body {
    margin: 0 auto;
    overflow-y: scroll;
}
.fl {float : left}
.fr {float : right}
.border {boarder : 1px solid red}
a {text-decoration : none}

#store_info {
   margin-top: 200px;
   display: block;
   text-align: center;
   color: #f986bd;
   font-weight: 700;
   font-size: 90px;
   letter-spacing: -.025em;
   line-height: 1;
}
#store_info > div:nth-child(2) {
	color : black;
	font-size: 39px;
    margin-top: 50px;
}

.product_box {
	width: 265px;
    float: left;
    margin-right: 45px;
}

#icecream_check {
	border: 2px solid #f986bd;
    margin: 20px 110px;
    border-radius: 10px;
    padding: 20px;
}
#icecream_check > select {
	border: 2px solid #f986bd;
    border-radius: 20px;
    height: 40px;
}
#icecream_check > button {
	background-color: white;
    border: 2px solid #f986bd;
    border-radius: 50px;
    height: 35px;
}

.count {
	margin-left: 115px;
}
.count > button {
	border: 1px solid #f986bd;
    background-color: white;
    border-radius: 15px;
}
 .count > input {
     width: 30px;
}